{% extends 'base.html.twig' %}

{% block title %}page-crudSmarthphone{% endblock %}

{% block body %}
 
  <h3 class="text-center"> liste des Accessoire</h3>
 



<table class="table text-center  container rounded ">
  <thead >
    <tr class="">
      <th scope="col">#id</th>
      <th scope="col">Model de telephone</th>
      <th scope="col">prix</th>
      <th scope="col">photo</th>
      <th scope="col">couleur</th>
      <th scope="col">date de creation</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  {% for Accessoires in Accessoire %}
  <tbody>
    <tr >
      <td>{{Accessoires.id}}</td>
      <td>{{Accessoires.nom}}</td>
      <td>{{Accessoires.prix | number_format(0,',',)}}</td>
      <td><td><img  style ="width:50px"src="{{vich_uploader_asset(Accessoires,'imageFile')}}" class="card-img-top" alt="..."></td></td>
      <td>{{Accessoires.couleur}}</td>
      <td>cell</td>
      <td cla="d-flex container">
      <a class="bg-success text-dark p-1 rounded bg-opacity-75 me-1" href="{{path('modifier_accessoire',{id: Accessoires.id})}}">modifier <i class="fa-regular fa-pen-to-square text-light ms-1"></i></a>
      <a class="bg-danger text-dark p-1 rounded bg-opacity-75 " href="{{path('delete_accessoire' ,{id: Accessoires.id})}}">supprimer <i class="fa-solid fa-trash-can text-light ms-1"></i></a>
      <a class="bg-dark text-light p-1 rounded bg-opacity-75 " href="{{path('creer_acessoire')}}">créer<i class="fa-solid fa-trash-can text-light ms-1"></i></a>
      </td>
    </tr>
   
  </tbody>
 {% endfor %}
</table>

     {# display navigation #}
<div class="navigation d-flex justify-content-center mt-3">
    {{knp_pagination_render(Accessoire)}}
</div>
{% endblock %}
