<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        

         <!-- script jquery slider-->
         <script defer src="{{asset('assets/js/jquery-3.7.1.min.js')}}"></script>
     
<!-- feuilles de styles-->
  <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}"> 
                <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
      
            {% block stylesheets %}  
            {{ encore_entry_link_tags('app') }}
            {% endblock %}
            
       
<!-- fichier JS-->
       
             <script defer  src="{{asset('assets/js/bootstrap.bundle.min.js')}}"></script>
             <script defer src="{{asset('assets/js/main.js')}}"></script>
            {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% endblock %}
      

    </head>
    <body>
    {% include 'includes/navbar.html.twig' %}
     {% include 'includes/link.html.twig' %}
      {% include 'includes/dashboard.html.twig' %}

        {% block body %}
   
       
        {% endblock %} 
     {% include 'includes/footer.html.twig' %}
    </body>  
</html>
